*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}

/* Still trying to style the nav and banner */
header{
    margin:14px ;
    border:2px solid green;
    height: 50px; 
    background-color: #1A2456;
    padding: 7px;
    position: sticky;
    align-items: center;
    display: flex;
    float: right;
    
    
}
.all{
  height: 142.5;
  border:10px solid purple;background-image: url("images/shop_cta_xl_896f6b8270 (3).webp");
  background-repeat: no-repeat;
  background-size: cover;

}
.console1{
   border:2px solid green;
   height: 92.5vh;
    border: 2px solid red;
    height: 82.5vh;
  color: #EFC2B3;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 14px;
  position-relative: 
}



.images-section1{
  border:4px solid blue;
  height: 200vh;
}

.images{
    display: grid;
   grid-template-columns: 35vw 35vw;
    gap:10px;
    padding-left: 195px;
    padding-top: 40px;
    /* padding: 0px 10px 10px 10px; */
    border: 4px solid orange;
    height: 200vh;
    /* overflow: hidden; */
    
}


.grid{
  border: 2px solid blue;
  width: 100%;
  height: 50vh;

  
}

.grid img{
  max-width: 500px;
  height: 100%;
  width: 474px;
}
 .gr{
  width: 204%;
  height: 50vh;
  border: 2px solid blue; 
}
/* .gr img5{
  width: 100%;
  height: 50vh; */

}
.gr{
  max-width: 500px;
  height: 100%;
  width: 474px;
}

.console2{
  border:9px solid black;
  height: 69vh;
}

.image{
  border: 1px solid purple;
  height:280vh;
   display: grid;
   grid-template-columns: 25vw 25vw 25vw;
    gap:10px;
     padding-left: 195px;
    padding-top: 40px;
    /* padding: 0px 10px 10px 10px; */
    border: 9px solid orange;
    height: 280vh;
    /* overflow: hidden; */
    
}

.gri{
  border: 2px solid blue;
  width: 100%;
  height: 50vh;

}
.banner{
    border: 2px solid red;
    height: 82.5vh;
    width:100vw;
}

.foot{
  border:2px solid black;
  height:44.2vh;
}
.console1{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}
