*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: prompt, sans-serif;
    
}
.container img{
  height: 39px; 
  width: 50px;
  

}

.mon{
  padding-right: 700px;
}
nav{
  display: flex;
  gap: 20px;
}
nav a{
  color: #EFC2B3;
  text-decoration: none;
}

/* Still trying to style the nav and banner */
header{
    margin:14px ;
    border:2px solid green;
    height: 50px; 
    background-color: #1a2456;
    display: flex;
    justify-content: center;
    align-items:center;
    gap:20px;
    position: fixed;
    width: 97vw;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 10px;

}
.all{
  border:3px solid blue;
 height: 92.5vh;
  background-image: url(images/shop_cta_xl_896f6b8270\ \(3\).webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size:small;
   list-style: none;
   color: #EFC2B3;

}



.console1{
   border:2px solid green;
   height: 92.5vh;
    border: 2px solid red;
    height: 82.5vh;
    color:#efc2b3;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  
}

.arrow{
  border: 2px solid red;
 
}

.console1 a{
  color: white;
  
}



.images{
    display: grid;
   grid-template-columns: 35vw 35vw;
    gap:10px;
    padding-left: 195px;
    padding-top: 38px;
    object-fit: cover;
    border: 4px solid orange;
    height: 200vh;
    /* overflow: hidden; */
    
}


.grid{
  border: 2px solid blue;
  width: 100%;
  height: 50vh;

}

/* .grid img{
  width: 100%;
  height: 50vh;
} */
.grid {
  position: relative;
  overflow: hidden;
}

.grid img {
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.grid .main {
  opacity: 1;
}

.grid .hovy {
  opacity: 0;
}

.grid:hover .main {
  opacity: 0;
}

.grid:hover .hovy {
  opacity: 1;
}

.gr{
  width: 204%;
  height: 62vh;
  border: 2px solid blue;
}

.gr img{
  width: 100%;
  height: 62vh;
  object-fit: cover;
}

.gr {
  position: relative;
  overflow: hidden;
}

.gr img {
  width: 100%;
  height: 62vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.gr .main {
  opacity: 1;
}

.gr .hovy {
  opacity: 0;
}

.gr:hover .main {
  opacity: 0;
}

.gr:hover .hovy {
  opacity: 1;
}





.console2{
  border:9px solid black;
  height: 69vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-image: url(images/shop-banner-module.webp);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  color:#1a2456;
  padding-top: 30px;
 
}



.console2, h1{
  font-size: 37.5px;
  letter-spacing: 5px;
}

.image{
  /* border: 9px solid orange; */
  height:280vh;
  display: grid;
  gap:10px;
  grid-template-columns: 25vw 25vw 25vw;
  padding-left: 180px;
  padding-right: 200px;
  padding-top: 70px;
  object-fit: cover;
  overflow: hidden;
}


.gri{
  
  border: 2px solid blue;
  width: 90%;
  height: 45vh;
  position: relative;  
  overflow: hidden;    
}


.gri img{
  width: 100%;
  height: 45vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}


.main{
  opacity: 1;
}


.hovy{
  opacity: 0;
}


.gri:hover .main{
  opacity: 0;
}

.gri:hover .hovy{
  opacity: 1;
 
  transform: 0.3s ease;

}

h3{
  font-size: 17.5px;
  padding: 10px;
}

.price{
  font-size: 15px;
  color: gray;
  padding-top: 8px;

}


.money{
  font-size: 15px;
  color: gray;
  padding-top: 8px;
   position: relative;  
  overflow: hidden;    
}
.money{
  padding-left: 90px;
}
.pr img{
  width: 100%;
  height: 45vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.money {
  opacity: 1;
  transition: 0.3s;
}

.buttonhov {
  opacity: 0;
  transition: 0.3s;
}


.pr:hover .money {
  opacity: 0;
}

.pr:hover .buttonhov {
  opacity: 1;

}

.pr, .buttonhov{
  margin-left:50px;
  margin-bottom: -100px;
}
.buttonhov{
  background-color: #1a2456;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  color:white;
  font-weight: bold;
  
  
}




/* .banner{
    border: 2px solid red;
    height: 82.5vh;
    width:100vw;
    
} */

.h3andsold{
  width: 23vw;
  border:2px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* This is the footer section */


footer {
  height: 44.2vh;
  background-color: #1a2456;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;

  padding: 50px;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
}

.pre {
  position: absolute;
  top: 15px;
  left: 250px;
  background: #ff8d6b;
  color: white;
  padding: 7px 10px;
  color: #212529;
  font-size: 12px;
  font-weight: bold;
  
}

.prey{
line-height: 20px;
color:#EFC2B3;
}



.mono, .quicklinks, .help, .info, .contact {
  gap: 10px;
  min-width: 200px;
 
}

.titles {
  color: #efc2b3;
  font-size: 12px;
  font-weight: bold;
 
}


footer li {
  list-style: none;
  font-size: 12.6px;
  line-height: 30px;
}

footer a {
  text-decoration: none;
  color: #efc2b3;
}

.icon-space {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.icon {
  background-color: #efc2b3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon a {
  color: #1a2456;
}

.submit {
  border-radius: 15px;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background-color: #efc2b3;
}

input{
  background-color: transparent;
  border: 1px solid #efc2b3;
  height: 30px;
  width:50%;
}

@media(max-width:1200px){
.images{
  height: 400%;
    display: grid;
   grid-template-columns: 80vw;
     gap:30px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 20px;
}

.grid{
  border: 2px solid blue;
  width: 90%;
  height: 45vh;
}

.gr{
  width: 90%;
  height: 62vh;
  border: 2px solid blue;
}

.gr img{
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

 .image{
  grid-template-columns: 80vw ;
  height: 550%;
  gap:30px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 20px;
  
}

.gri{
  border: 2px solid blue;
  width: 90%;
  height: 45vh;
}

.pre {
  position: absolute;
  top: 7px;
  left: 450px;
  background: #ff8d6b;
  color: white;
  padding: 7px 10px;
  color: #212529;
  font-size: 12px;
  font-weight: bold;
}
footer{
  height: 60vh;
  
}


}